//Fuentes
$texto-universal:'Roboto', sans-serif;
$title:'Lato', sans-serif;

//Colores
$blanco:#fff;
$negro:#1F1E1E;
$verde:#00DA55;
$azul:#1073BA;
$gris: #3B3B3B;
$gris-Claro: #e1e1e1;

//Media
$telefono:480px;
$tablet:768px;
$desktop:1080px;